.main_box {
  width: 100%;
  height: 400px;
  display: flex;
  height: auto;
  margin: auto;
  margin-top: 10px;
  position: relative;
}
.subpart1 {
  width: 50%;
  height: 350px;
  position: absolute;

  top: 0;
  left: 50;
}
.subpart1 > img {
  width: 78%;
  margin: auto;
  margin-top: 30px;
  margin-left: 35%;
  background-color: blanchedalmond;
  z-index: 12;
}
.subpart2 {
  width: 45%;
  height: 350px;
  margin-right: 100px;
  background-color: #3c2a21;
  border: 2px solid black;
  text-align: center;
  padding: 60px 10px 10px 120px;
  color: whitesmoke;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.secondBox{
  width: 90%;
  height: 70px;
  margin-top: 30%;
  text-align: center;
  border-radius: 10px;
  display: flex;
  margin-left: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cl {
  border-left: 6px solid #3c2a21;
}
.heading{
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.heading > h2{
  text-align: center;
}

.secondPhase{
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  background-color: #D5CEA3;
  
}
.secondPhase > img{
  width: 50%;
}
.secondPhase>h2{
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 15%;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
}

.Section3{
  width: 100%;
  margin-top: 10px;
}
.Section3>img{
  width: 100%;
  height: 600px;
}

.Section4{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: 20px 10px 10px 10px;
  text-align: center;
}
@media (max-width: 1180px) {
  .main_box {
    width: 100%;
    display: flex;
    position: relative;
  }
  .subpart1 {
    width: 50%;
    height: 250px;
    position: absolute;

    top: 0;
    left: 50;
  }
  .subpart1 > img {
    width: 96%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    margin-left: 5%;
    background-color: blanchedalmond;
    z-index: 12;
  }
  .subpart2 {
    width: 50%;
    height: 250px;
    margin-right: 2%;
    background-color: #3c2a21;
    border: 2px solid black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .subpart2 > h2 {
    font-size: 15px;
  }
  .subpart2 > p {
    font-size: 15px;
  }
}
